[Desktop Entry]
Type=Application
Version=1.0
Name=Install BacakOS
Name[tr]=BacakOS Kur
GenericName=System Installer
GenericName[tr]=Sistem Yükleyici
Comment=Install BacakOS to a hard disk
Comment[tr]=BacakOS'u sabit diske kurar
Exec=kur-baslat
Icon=kur
Terminal=false
Categories=System;Settings;
Keywords=install;installer;setup;
Keywords[tr]=kur;kurulum;yükleyici;
StartupNotify=true
