[Desktop Entry]
Type=Application
Name=Bacak PDF Okuyucu
Name[tr]=Bacak PDF Okuyucu
GenericName=PDF Görüntüleyici
GenericName[tr]=PDF Görüntüleyici
Comment=PDF belgelerini görüntüleyin
Comment[tr]=PDF belgelerini görüntüleyin
Exec=bacak-pdf %f
Icon=application-pdf
MimeType=application/pdf;
Categories=Office;Viewer;
StartupNotify=true
